body {
    background-color: #5B7180;
}
h1 {
    color: #E8F6FF;
    text-align: center;
}
h2 {
    color: #A6BDCD;
}
#date-time {
    color: #A6BDCD;
    text-align: center;
}
#textarea-container {
    text-align: center;
}

#textarea-container textarea {
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
    text-align: center;
    height: 200px;
    width: 500px;
}
.project {
    font-size: .8em;
}

.project input {
    width: 250px;
}

.project textarea {
    width: 250px;
    margin-top: 5px;
}